

<ion-content [fullscreen]="true">
  <ion-grid class="galaxyBG">
    <ion-row>
      <ion-col>&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="assets/logo.png" class="momintLogo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload
        accept="image/jpeg, application/mp4, application/webm">
      <ion-button Expand="block" (click)="fileUpload.click()">Upload file</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
      <ion-button Expand="block">Insert random string</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
      <ion-button Expand="block">Query data</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
